{% extends "base.html" %}
{% block content %}
    <div class="home">
        <h1>A Python product</h1>
        <p>This website was built with Python via the Flask framework.</p>
    </div>
{% endblock %}