body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #444;
  }
  
  /*
   * Formatting the header area
   */
  
  header {
    background-color: #b6df87;
    height: 35px;
    width: 100%;
    opacity: .9;
    margin-bottom: 10px;
  }
  
  header h1.logo {
    margin: 0;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    float: left;
  }
  
  header h1.logo:hover {
    color: #fff;
    text-decoration: none;
  }
  
  /*
   * Centering the body content
   */
  
  .container {
    width: 1200px;
    margin: 0 auto;
  }
  
  div.home {
    padding: 10px 0 30px 0;
    background-color: #E6E6FA;
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;
  }
  
  div.about {
    padding: 10px 0 30px 0;
    background-color: #E6E6FA;
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;
  }
  
  h2 {
    font-size: 3em;
    margin-top: 40px;
    text-align: center;
    letter-spacing: -2px;
  }
  
  h3 {
    font-size: 1.7em;
    font-weight: 100;
    margin-top: 30px;
    text-align: center;
    letter-spacing: -1px;
    color: #999;
  }
  
  .menu {
    float: right;
    margin-top: 8px;
  }
  
  .menu li {
    display: inline;
  }
  
  .menu li + li {
    margin-left: 35px;
  }
  
  .menu li a {
    color: #444;
    text-decoration: none;
  }